---
layout: default
banner: productBanner
title: Applications
---

<div class="container-fluid spyScroll">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <nav class="applications-sidebar nav hidden-print hidden-sm hidden-xs">
          <ul class="nav applications-sidenav">
          {% for category in site.data.applicationCategories %}
            <li>
              <a href="#{{ category | downcase | replace: ' ', '-' }}">{{ category }}</a>
              <ul class="nav">
                {% for application in site.applications %}
                  {% if application.category == category %}
                    <li>
                      <a href="#{{ application.title | downcase | replace: ' ', '-' }}">{{ application.title }}</a>
                    </li>
                  {% endif %}
                {% endfor %}
              </ul>
            </li>
          {% endfor %}
          </ul>
        </nav>
      </div>
      <div class="col-md-9">
        {% for category in site.data.applicationCategories %}
          <section id="{{ category | downcase | replace: ' ', '-' }}">
            <h2>{{ category }}</h2>
              {% for application in site.applications %}
                {% if application.category == category %}
                  <section id="{{ application.title | downcase | replace: ' ', '-' }}">
                    <h3>{{ application.title }}</h3>
                    <div class="row">
                      <div class="col-md-3">
                        <figure><img class="img-responsive" src="applications/{{ application.title | downcase | replace: ' ', '-' }}.jpg" alt="{{ application.title }}"></figure>
                      </div>
                      <div class="col-md-9">
                        <p>{{ application.description }}</p>
                        <h4>Advantages</h4>
                        <p>{{ application.advantages }}</p>
                        <h4>Recommended Models</h4>
                        {% for product in site.products %}
                          {% if product.applications contains application.title %}
                            <a style="display: inline-block;" href="{{ product.url }}"><img class="productThumbnail img-responsive" src="/products/{{ product.category }}/{{ product.title | downcase | replace: ' ', '-' }}/{{ product.title | downcase | replace: ' ', '-' }}-thumb.png" alt="{{ product.title }}">{{ product.title }}</a>
                          {% endif %}
                        {% endfor %}
                      </div>
                      <div class="col-md-12">
                        <h4>Note</h4>
                        <p>{{ application.note | newline_to_br }}</p>
                      </div>
                    </div>
                  </section>
                {% endif %}
              {% endfor %}
          </section>
        {% endfor %}
      </div>
    </div>
    <!--end of .row-->
  </div>
</div>

<script type="text/javascript">
  //Scroll hover Map isn't zoom
  $(".bar").click(function() {
      $(".bar").css("width","0%");
      setTimeout(function(){ $(".bar").css('width','100%'); },500)    
  });
          
  $(".bar").mousedown(function(e){ 
      $(".bar").css("width","0%");
      setTimeout(function(){ $(".bar").css('width','100%'); },500)
  });


  //Scroll Spy
  $('body').scrollspy({
      target: ".applications-sidebar"
  });
  $('window').on("load", function() {
      $('body').scrollspy("refresh");
  })
  $('.applications-sidebar').affix({
      offset: {     
        top: $('.applications-sidebar').offset().top,
        bottom: ($('#footerBottom').outerHeight(true) + $('#footerLink').outerHeight(true) + $('#contact').outerHeight(true)) + 40
        
      }
  });
</script>