  <!--contactTime-->
  <div class="container-fluid" id="contact">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-6 commonVertical">
          <i class="fa fa-phone" aria-hidden="true"></i>
          <div class="commonText">
            + 91- 20 24265743, 24274000
          </div>
        </div>
        <div class="col-md-6  col-sm-6  col-xs-6 commonVertical commonVerticalExtra">
          <i class="fa fa-envelope" aria-hidden="true"></i>
          <div class="commonText">
            <a href="mailto:sales@hirlekarprecision.com">sales@hirlekarprecision.com</a>
          </div>
        </div>
        <!--<div class="col-md-4 col-sm-4 col-xs-4">
            <i class="fa fa-clock-o" aria-hidden="true"></i>
            <div class="commonText">
              10-00 AM to 7-00 PM 
            </div>
          </div>-->
      </div>
    </div>
  </div>
  <!--contactTime-->
  <!--Footer link-->
  <div class="container-fluid" id="footerLink">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-12">
          <h2>Contact <span>Info</span></h2>
          <figure><img src="{{ site.data.global.url }}/images/logo/hirlekar-pricision-footer-logo.png" alt="Hirlekar Pricision" class="img-responsive"></figure>
          <h3><i class="fa fa-map-marker" aria-hidden="true"></i>  Head <span>Office</span></h3>
          <div class="addr">
            18-19 Gultekadi Industrial Estate,
            <br> Tel. : + 91- 20 24265743, 24274000
            <br> Fax: + 91- 20 24261665E-
            <br> mail:
            <a href="mailto:sales@hirlekarprecision.com">sales@hirlekarprecision.com</a>
          </div>
          <h3><i class="fa fa-map-marker" aria-hidden="true"></i>  Factory</span></h3>
          <div class="addr">
            Plot No.67, Hadapsar Industrial Estate,
            <br> T. P. Scheme II, Ramtekadi, Pune 411 013,
            <br> INDIA
            <br> Tel. : + 91 - 20 26823648, 26823649
            <br> Skype: hirlekar-factory
          </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-12">
          <h2>Application <span>Sector</span></h2>
          <div class="footerList">
            <ul>
              <li><a href="javascript:void(0);">Cryogenic Tank Level Measurement</a></li>
              <li><a href="javascript:void(0);">Blower Performance</a></li>
              <li><a href="javascript:void(0);">Natural Gas Filtration</a></li>
              <li><a href="javascript:void(0);">Air Filter Monitoring (Clean Air Industry)</a></li>
              <li><a href="javascript:void(0);">Flow control/ balance in branch piping</a></li>
              <li><a href="javascript:void(0);">Filter monitoring</a></li>
              <li><a href="javascript:void(0);">Flow Rate control</a></li>
              <li><a href="javascript:void(0);">Pump performance monitoring</a></li>
              <li><a href="javascript:void(0);">Self Cleaning Filter monitoring</a></li>
              <li><a href="javascript:void(0);">Liquid Tank Level Measurement</a></li>
              <li><a href="javascript:void(0);">Condition monitoring of heating/cooling system</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-12">
          <h2 class="unwanted">&nbsp;</h2>
          <div class="footerList">
            <ul>
              <li><a href="javascript:void(0);">Reverse flow detection</a></li>
              <li><a href="javascript:void(0);">Pressure monitoring</a></li>
              <li><a href="javascript:void(0);">Flow Rate monitoring</a></li>
              <li><a href="javascript:void(0);">Air & Collector Bag Filter (Pharmaceutical/Food)</a></li>
              <li><a href="javascript:void(0);">Strainer monitoring</a></li>
              <li><a href="javascript:void(0);">Collector / Bag filter monitoring</a></li>
              <li><a href="javascript:void(0);">Backflow Prevention</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-2 col-sm-2 col-xs-12">
          <h2>Quick <span>Info</span></h2>
          <div class="footerList">
            <ul>
              <li><a href="javascript:void(0);">Home</a></li>
              <li><a href="javascript:void(0);">About Us</a></li>
              <li><a href="javascript:void(0);">Products</a></li>
              <li><a href="javascript:void(0);">Downloads</a></li>
              <li><a href="javascript:void(0);">Application(19)</a></li>
              <li><a href="javascript:void(0);">FAQ's</a></li>
              <li><a href="javascript:void(0);">Contact Us</a></li>
            </ul>
          </div>
          <h3>Connect <span>Us</span></h3>
          <div class="media">
            <ul>
              <li><a href="javascript:void(0);"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
              <li><a href="javascript:void(0);"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Footer link-->
  <!--Footer-->
  <div class="container-fluid" id="footerBottom">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="copy">
            Copyright © 2016 Hirlekar Precision
          </div>
        </div>
        <div class="col-md-4">
          <div class="best">
            Best viewed in IE 10+, Firefox 20+, Chrome , Safari5+, Opera12+
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
