{% include header.html %}

{% if page.banner %}
<div class="container-fluid" id="{{ page.banner }}">
  <div class="container">
    <h1>{{ page.title }}</h1>
    <!--<ol class="breadcrumb">
          <li><a href="#">Home</a></li>
          <li class="active">FAQ's</li>
        </ol>-->
  </div>
</div>
<div class="container-fluid" id="pdf">
  <div class="container">
    <ol class="breadcrumb">
      <li><a href="/">Home</a></li>
      <li class="active">{{ page.title }}</li>
    </ol>
    <!--<h2><a href="javascript:void(0);">Guidelines to Select an Appropriate Model <span><figure><img src="images/icon/hirlekar-pdf.jpg" alt="Hirlekar Precision"></figure></span></a></h2>-->
  </div>
</div>
{% endif %}

{{ content }}

{% include footer.html %}